player-connection-mode=Listen
player-connection-guid=2594055858
player-connection-debug=0
player-connection-project-name=FF
player-connection-ip=172.22.240.1
player-connection-ip=172.27.128.1
player-connection-ip=172.19.0.1
player-connection-ip=172.16.0.2
player-connection-ip=192.168.1.109
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=261c9eeaf8e74e89b54f4c8e82a332f2
